/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.button_to {
    display: inline-block;
}

.link_to {
    display: inline-block;
}


body {
}

* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.main {
    box-shadow: 0px 0px 20px 15px rgb(247,247,247);
    position: absolute;
    top: 0;
    margin: 0;
    left: 25%;
    right: 25%;
}

a {
    text-decoration: none;
    color: steelblue;
}

a:visited {
    color: steelblue;
}

.logout {
    float: right;
    margin: 10px;
}

.btn:hover {
    background-color: rgb(230,230,230);
}

.sides * {
    text-align: center;
    font-size: 56px;
    text-decoration: none;
    color: white;
}

.left {
    position: absolute;
    padding-top: 23%;
    left: 0;
    width: 50%;
    height: 100%;
}

.right {
    position: absolute;
    padding-top: 23%;
    right: 0;
    width: 50%;
    height: 100%;
}

.right:hover {
    box-shadow: 0px 0px 25px 0px rgba(73,165,191,1);
    background: -webkit-linear-gradient(left, rgba(147,206,222,0.1) 0%, rgba(117,189,209,0.24) 16%,
    rgba(73,165,191,0.63) 59%, rgba(73,165,191,1) 100%);
}

.left:hover {
    box-shadow: 0px 0px 25px 0px rgba(73,165,191,1);
    background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 0%,
    rgba(73,165,191,1) 0%, rgba(73,165,191,0.1) 100%);
}

.center {
    margin: 10% 50% 50% 41%;
}