.movie {
    padding: 10px;
    margin: 10px;
}

.movie.frame {
    box-shadow: 0px -15px 20px 15px rgb(247,247,247);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.movie .title {
    font-size: 28px;
}

.movie .release_year {
    font-size: 22px;
    opacity: 0.8;
}

.movie .duration {
    font-size: 13px;
}

.movie .genre {
    font-size: 16px;
}

.movie .description {
    font-size: 18px;
    margin-left: 10px;
}

.movie .occupation {
    font-size: 14px;
    margin-left: 10px;
}

.movie .poster {

}

.movie .ratings {
    float: right;
}

.back {
    margin: 10%;
    position: absolute;
    float: left;
    font-size: 32px;
    font-weight: bold;
}