<%= render @cast %>
<% @occupations.each do |occupation| %>
    <% contracts = @cast.contracts.where(occupation_id: occupation.id) %>
    <% unless contracts.nil? || contracts.empty? %>
        <b><%= occupation.title %></b> <br>
        <% contracts.each do |contract| %>
            <% unless contract.movie.nil? %>
                <a href="<%= movie_path(contract.movie.id) %>">
                  <%= image_tag contract.movie.poster.url(:mini) %>
                </a>
            <% end %>
        <% end %>
        <br>
    <% end %>
<% end %>
